.Sport {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "s1 s3"
    "s2 s2";
  margin-top: 2rem;
  &__sect1 {
     > div{ 
    display: flex;
    flex-direction: row;}
    grid-area: s1;
    margin: 1rem auto;
    
  }
  &__sect2 {
    > div{ 
        display: flex;
        flex-direction: row;}
    grid-area: s2;
    margin: 1rem auto;
  }
  &__sect3 {
    > div{ 
        display: flex;
        flex-direction: row;}
    grid-area: s3;
    margin: 1rem auto;
  }
  &__sect4 {
    > div{ 
        display: flex;
        flex-direction: row;}
    grid-area: s4;
    margin: 1rem auto;
  }
 

  &__legend{
      list-style: none;
      > li{
          display: flex;
          flex-direction: row;
          align-items: center;
      }
      svg{
          height:1rem;
          margin-right: 0.5rem;
      }
  }
}
